html{
  height:100%;
  width:100%;
}

body{
  margin:0;
  width:100%;
  height:100%;
  background-image: linear-gradient(135deg, #F9FAFC 43%, #E8EDF2 100%);
}

.App {
  text-align: center;
  width:100%;
  height:100%;
  margin:0;
}

input[type="submit"]:hover{
background-color: #E65B67;

}


table{
  width:650px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family:'Khula', 'sans-serif';
  margin:20px auto;
}
td{
    border: 1px solid #ccc;

}

#material{
  width:48px;
}
