html{
  height:100%;
  width:100%;
}

body{
  margin:0;
  width:100%;
  height:100%;
  background: #f3f0f5;
  background:-webkit-linear-gradient(to right, #f3f0f5, #ffffff);
  background: linear-gradient(to right, #f3f0f5, #ffffff);
}

.App {
  text-align: center;
  width:100%;
  height:100%;
  margin:0;
}

input, textarea{
  border-radius: 5px;
  border:1px solid #D2CED4;
}

td input[type="checkbox"]{
  width:16px;
  height:16px;
  border-radius:0px;
  border:1px solid #4A4A4A;
  background-color: transparent;
  /* -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none */
}

input[type=checkbox]{

  border-radius: 0px;

}


.table-header{
  background-color: #F1F2F4;
  height:50px;
font-family: 'Montserrat', sans-serif;
}

tr{
  background-color:#F6F7FA;
  border-top:none;
  border-bottom: 1px solid #525D67;
  height:40px;
}


table{
  /* border: 1px solid #ccc; */
  /* border-radius: 10px;  */
  width:90%;
  font-family:'Khula', 'sans-serif';
  /* font-family: 'Montserrat', sans-serif; */
  margin:20px auto;
}
/* td{
    border: 1px solid #ccc;

} */

#material{
  width:48px;
}

.md-24{
  font-size: 24px;
}

.text-med{
  font-size: 16px;
}

.text-title{
  font-weight:bold;
}

.text-sm{
  font-size:12px
}

.text-lg{
  font-size: 20px;
  color:#525D67
}

.lighter{
  font-weight: lighter;
}


 .records-list .button-small{
   width:80px;
   background-color: transparent;
   color:#4A4A4A;
   border: 1px solid #9B9B9B;
   height:50px;
   text-align: center;

 }

 .add-form{
   display:flex;
   /* flex-direction: column; */
   width:80%;
   /* border:1px solid #9B9B9B; */
   border-radius: 5px;
   align-items:center;
   flex-wrap: wrap;
   padding:20px;
   box-sizing: border-box;
   background-color: white;
   -webkit-box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
  -moz-box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
  box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
  color:#4A4A4A;
  margin-bottom:40px
 }


 .add-form select{
   height:30px;
   flex-grow:3;
 }

 .add-form div{
   flex-grow: 1;
 }

 .add-form div label{
   margin-right: 10px;
 }

 .react-datepicker__input-container input{
   border-radius: 5px;
 }

 .material{
   background-color: transparent;
   width:40px;
   height:40px;
 }

 .add-form button{
   flex-grow: 1;
 }


 .error{
   color:#ED474A;
 }

 .tiles-container{
   display:flex
 }
