html{
  height:100%;
  width:100%;
}

body{
  margin:0;
  width:100%;
  height:100%;
  background: #f3f0f5;
  background:-webkit-linear-gradient(to right, #f3f0f5, #ffffff);
  background: linear-gradient(to right, #f3f0f5, #ffffff);
}

.App {
  text-align: center;
  width:100%;
  height:100%;
  margin:0;
}

input, textarea{
  border-radius: 5px;
  border:1px solid #D2CED4;
}

input[type="submit"]:hover{
background-color: #E65B67;

}


table{
  width:650px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family:'Khula', 'sans-serif';
  margin:20px auto;
}
td{
    border: 1px solid #ccc;

}

#material{
  width:48px;
}

.md-24{
  font-size: 24px;
}

.text-med{
  font-size: 16px;
}

.text-title{
  font-weight:bold;
}

.text-sm{
  font-size:12px
}

.lighter{
  font-weight: lighter;
}

.button-small{
  width:80px;
  background-color: transparent;
  color:#4A4A4A;
  border: 1px solid #9B9B9B
}
 .records-list .button-small{
   width:80px;
   background-color: transparent;
   color:#4A4A4A;
   border: 1px solid #9B9B9B;
   height:50px;
   text-align: center;

 }

 .add-form{
   display:flex;
   /* flex-direction: column; */
   width:80%;
   /* border:1px solid #9B9B9B; */
   border-radius: 5px;
   align-items:center;
   flex-wrap: wrap;
   padding:20px;
   box-sizing: border-box;
   background-color: white;
   -webkit-box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
  -moz-box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
  box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
  color:#4A4A4A;
  margin-bottom:40px
 }


 .add-form select{
   height:30px;
   flex-grow:3;
 }

 .add-form div{
   flex-grow: 1;
 }

 .add-form div label{
   margin-right: 10px;
 }

 .react-datepicker__input-container input{
   border-radius: 5px;
 }

 .material{
   background-color: transparent;
   width:40px;
   height:40px;
 }

 .add-form button{
   flex-grow: 1;
 }


 .error{
   color:#ED474A;
 }

 .tiles-container{
   display:flex
 }
