@import url('https://fonts.googleapis.com/css?family=Khula|Mitr|Montserrat&display=swap');


body {
  margin: 0;
font-family:'Khula', 'sans-serif';
}

#root{
  width:100%;
  height:100%;
}

textarea:focus,
 input:focus{
    outline: none;
}
