
.records-list{
  display:flex;
  /* flex-direction: column; */
  margin:20px 60px;
  flex-wrap: wrap;
}

.records-list header{
  width:100%;
  padding-left:0px;
}

.records-list button{
  border:none;
  height: 200px;
  text-align: left;
  vertical-align: middle;
  background-color: white;
  margin:10px;
  flex-grow: 3;
}

.records-list button:hover
{
  border:none;
  text-align: left;
  vertical-align: middle;
  bbackground-color: white;
  -webkit-box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
 -moz-box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
 box-shadow: -3px 7px 5px 4px rgba(211,220,230,0.63);
}

.records-list button:active{
  border: 1px solid #4A4A4A
}
