.record-main{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:80%;
  margin: 20px auto;
}

.record-main section{
  flex-grow: 2;

}

.asi{
  width:600px;
}


h3{
  font-size: 14px;
}
