@import url('https://fonts.googleapis.com/css?family=Khula|PT+Sans+Caption&display=swap');

.userName{
  font-family: 'Pt Sans Caption', sans-serif;
  text-align: left;
  margin-left:30px;
  font-size: 1.5em;
}
